.elementor-49 .elementor-element.elementor-element-f2b00ef img {width: 150px;height: 150px;}
.elementor-49 .elementor-element.elementor-element-f2b00ef .ga-team-position {font-family: "Lato",Sans-serif;}
.elementor-49 .elementor-element.elementor-element-94b1ab6 img {width: 150px;height: 150px;}
.elementor-49 .elementor-element.elementor-element-94b1ab6 .ga-team-position {font-family: "Lato",Sans-serif;}
.elementor-49 .elementor-element.elementor-element-e65735d img {width: 150px;height: 150px;}
.elementor-49 .elementor-element.elementor-element-e65735d .ga-team-position {font-family: "Lato",Sans-serif;}
.elementor-49 .elementor-element.elementor-element-57b325c img {width: 150px;height: 150px;}
.elementor-49 .elementor-element.elementor-element-57b325c .ga-team-position {font-family: "Lato",Sans-serif;}